.button1 {
    -fx-background-color: #ff5f6d;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0.3, 2, 2);
}

.button1:hover {
    -fx-background-color: #ffc371;
    -fx-text-fill: black;
}
